.chevron {
    &-icon {      
    stroke: currentColor;
    stroke-width: 3px;
    width: 1em;
    }

    &-button {
        @include reset-button;
        @include blur-bg;
        @include round(36px);
        rotate: 90deg;

        &--right {
            transform: scaleY(-1);
        }

        &--disabled {
            opacity: 0.5;
            cursor: not-allowed;
        }

        @include hover {
            background-color: var(--color-gray-light);
        }
    }
}